.home{
	display: flex;
	flex-direction: column;	
	justify-content: center;
	align-items: center;
	min-height: calc(80vh - 50px);
}

.labels{
	margin-bottom: 10px;
	font-size: 1.5em;
	font-weight: 700;
}

.labels > button{
	width:45px;
	padding: 0 10px;
	margin: 0 10px;
	cursor: pointer;
	border: none;
	background-color: var(--PrimaryColor);
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
}

.labels > button:active{
	transition: .2s linear;
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-webkit-transition: .2s linear;
	-moz-transition: .2s linear;
	-ms-transition: .2s linear;
	-o-transition: .2s linear;
}

.form{
	padding:10px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 300px;
	width:  270px;
	border: 3px solid var(--PrimaryColor);
	border-radius: 10px;
	background-color: rgb(247, 215, 73);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

.inpAmount{
	width: 70%;
	padding: 5px;
	border:none;
	border-bottom: 2px solid var(--PrimaryColor);
	font-weight: 600;
	background-color: transparent;
}

.inpAmount:focus{
	outline: none;
	background-color: transparent;
}

.inpConverte{
	margin-bottom: 20px;
}

.inpAmount {
	padding-left: 5px;
}

.changeIcon{
	max-width:100%;
}

.btnSave{
	border: 3px solid var(--PrimaryColor);
	padding: 5px 10px;
	border-radius: 10px;
	background-color: #f7dc90;
	font-weight: 600;
	cursor: pointer;
}

.btnSave span{
	display: block;
	transition: .2s linear;
	-webkit-transition: .2s linear;
	-moz-transition: .2s linear;
	-ms-transition: .2s linear;
	-o-transition: .2s linear;
}

.btnSave:hover span{
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
}


.boxResult span{
	font-weight: 600;
	background-color: transparent;
}